
ion-modal#clock-modal {
    --background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
  }
  /* ion-modal#example-modal::part(backdrop) {
    /* backdrop-filter: blur(6px); 
  } */
  ion-content#time-content {
    --background: transparent;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 25vh;
  
  }
  ion-datetime{
      border-radius: 8px ;
  }
  
  ion-textarea.custom-textarea {
    --background: #757575;
    --color: #fff;
    --padding-end: 10px;
    --padding-start: 10px;
    --placeholder-color: rgb(255, 252, 252);
    --placeholder-opacity: 0.8;
  }